<div class="login-wrapper">
    <form class="form-signin">
        <img class="mb-3" src="https://png.pngtree.com/svg/20150807/fec2f24c9e.svg" width="100" height="100">
        <h1 class="h3 mb-4 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        {{input type="email" id="inputEmail" class="form-control mb-1"  placeholder="Email address" value=email required=true}}
        <label for="inputPassword" class="sr-only">Password</label>
        {{input type="password" class="form-control mb-3"  placeholder="Password" value=password required=true}}
        <div class="mb-3 ">
            <label>Don't have an account?
                {{#link-to 'signup'}}Sign up here{{/link-to}}
            </label>
        </div>
        <button {{action "signinUser" preventDefault=false}} class="btn btn-lg btn-primary btn-block" type="submit">Sign
            up</button>
    </form>
</div>